In [1]:
## Content Base Recommender System
## Collabrative Filtering (Works on User Interest)
## Hybrid (Mixture of both Content and Collabrative)

In [2]:
## Going to Do 
## Data Preprocessing 2) Model Preparation 3)Website Convertion 4) Deploy

In [3]:
## We are going to work on Content Base Recommender System

In [4]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns
import nltk

In [5]:
title= pd.read_csv("titles.csv")

In [6]:
title.head()

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,ts20945,The Three Stooges,SHOW,The Three Stooges were an American vaudeville ...,1934,TV-PG,19,"['comedy', 'family', 'animation', 'action', 'f...",['US'],26.0,tt0850645,8.6,1092.0,15.424,7.6
1,tm19248,The General,MOVIE,"During America’s Civil War, Union spies steal ...",1926,NaN,78,"['action', 'drama', 'war', 'western', 'comedy'...",['US'],NaN,tt0017925,8.2,89766.0,8.647,8.0
2,tm82253,The Best Years of Our Lives,MOVIE,It's the hope that sustains the spirit of ever...,1946,NaN,171,"['romance', 'war', 'drama']",['US'],NaN,tt0036868,8.1,63026.0,8.435,7.8
3,tm83884,His Girl Friday,MOVIE,"Hildy, the journalist former wife of newspaper...",1940,NaN,92,"['comedy', 'drama', 'romance']",['US'],NaN,tt0032599,7.8,57835.0,11.270,7.4
4,tm56584,In a Lonely Place,MOVIE,An aspiring actress begins to suspect that her...,1950,NaN,94,"['thriller', 'drama', 'romance']",['US'],NaN,tt0042593,7.9,30924.0,8.273,7.6

In [7]:
movie= pd.read_csv("credits.csv")

In [8]:
movie.head()

   person_id       id           name      character   role
0      59401  ts20945     Joe Besser            Joe  ACTOR
1      31460  ts20945     Moe Howard            Moe  ACTOR
2      31461  ts20945     Larry Fine          Larry  ACTOR
3      21174  tm19248  Buster Keaton    Johnny Gray  ACTOR
4      28713  tm19248    Marion Mack  Annabelle Lee  ACTOR

In [9]:
movies= movie.merge(title,on='id')

In [87]:
movies.head(1)

,id,title,name,description,production_countries,type,genres,tags
0,tm100001,The Lucky Texan,Tex Palmer Earl Dwire George Morrell Eddie Par...,"[Jerry, Mason,, a, young, Texan,, and, Jake, B...",['US'],MOVIE,"['western', 'action', 'romance']",Tex Palmer Earl Dwire George Morrell Eddie Par...

In [11]:
movies=movies[['id','name','title','type','genres','production_countries','description']]

In [12]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 124347 entries, 0 to 124346
Data columns (total 7 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    124347 non-null  object
 1   name                  124347 non-null  object
 2   title                 124347 non-null  object
 3   type                  124347 non-null  object
 4   genres                124347 non-null  object
 5   production_countries  124347 non-null  object
 6   description           124256 non-null  object
dtypes: object(7)
memory usage: 7.6+ MB

In [13]:
movies.isnull().sum()

id                       0
name                     0
title                    0
type                     0
genres                   0
production_countries     0
description             91
dtype: int64

In [14]:
## Removing of null value
movies = movies.dropna(subset=['description'])

In [15]:
### Find the Duplicates Data
movies.duplicated().sum()

1152

In [16]:
## Droping Duplicates Data
movies = movies.drop_duplicates()

In [17]:
movies = movies.drop_duplicates(subset=['id', 'name','description','title','type'])

In [18]:
movies.duplicated().sum()

0

In [19]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 123104 entries, 0 to 124345
Data columns (total 7 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    123104 non-null  object
 1   name                  123104 non-null  object
 2   title                 123104 non-null  object
 3   type                  123104 non-null  object
 4   genres                123104 non-null  object
 5   production_countries  123104 non-null  object
 6   description           123104 non-null  object
dtypes: object(7)
memory usage: 7.5+ MB

In [20]:
movies.iloc[0].description

"The Three Stooges were an American vaudeville and comedy team active from 1922 until 1970, best known for their 190 short subject films by Columbia Pictures that have been regularly airing on television since 1958. Their hallmark was physical farce and slapstick. In films, the stooges were commonly known by their actual first names. There were a total of six stooges over the act's run (with only three active at any given time), but Moe Howard and Larry Fine were the mainstays throughout the ensemble's nearly fifty-year run."

In [21]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 123104 entries, 0 to 124345
Data columns (total 7 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    123104 non-null  object
 1   name                  123104 non-null  object
 2   title                 123104 non-null  object
 3   type                  123104 non-null  object
 4   genres                123104 non-null  object
 5   production_countries  123104 non-null  object
 6   description           123104 non-null  object
dtypes: object(7)
memory usage: 7.5+ MB

In [22]:
import pandas as pd

def merge_ids_and_names(data):
    # Group the DataFrame by 'id' and concatenate the IDs, names, and descriptions
    merged_data = data.groupby(['id', 'title']).agg({
        'name': lambda x: ' '.join(set(x)),
        'description': lambda x: ' '.join(set(x)),
        'production_countries': lambda x: ' '.join(set(x)),
        'type': lambda x: ' '.join(set(x)),
        'genres': lambda x: ' '.join(set(x)),
    }).reset_index()
    
    return merged_data

# Assuming you have a DataFrame named 'movies' with columns 'id', 'name', 'description', 'production_countries',
# 'genres', 'type', and 'title'

# Call the function to merge the IDs, names, and descriptions
movies = merge_ids_and_names(movies)

# Print the merged DataFrame
print(movies)

             id                        title  \
0      tm100001              The Lucky Texan
1     tm1000022  Boonie Bears: The Wild Life
2     tm1000169                    Bad Cupid
3     tm1000203             Digging to Death
4     tm1000290         Secrets in the Water
...         ...                          ...
8837      ts968                Bobby's World
8838    ts97421                   Chronofilm
8839    ts97576               Volatile Earth
8840     ts9770     The Adventures of Tintin
8841     ts9913                   Crime Inc.

                                                   name  \
0     Tex Palmer Earl Dwire George Morrell Eddie Par...
1       Chris Boike 张伟 Tan Xiao Leon Ding Nikki Stinson
2     Christine Turturro Shane Nepveu Diane Cossa Br...
3     Bryan Dodds Tom Fitzpatrick Ford Austin Clint ...
4     Terry Bookhart Angelica Quinn Cerina Vincent M...
...                                                 ...
8837  Howie Mandel Tino Insana Rob Paulsen Christine...
8838  Madison Mitchell Patrick Nalty Robert Hypes Ti...
8839                                       Mark Bazeley
8840  Thierry Wermuth Marie Vincent Michel Ruhl Henr...
8841                                       Martin Short

                                            description  \
0     Jerry Mason, a young Texan, and Jake Benson, a...
1     Bear brothers Briar and Bramble set off on an ...
2     Archie is a God on a mission to ensure that tr...
3     David Van Owen moves into a mysterious house a...
4     Inspired by a true story. When Mia’s body wash...
...                                                 ...
8837  Bobby Generic lives in a typical suburban neig...
8838  Chronofilm, one of the hottest reality shows o...
8839  Scientists who are experts in natural disaster...
8840  Travel with Tintin, the young and intrepid Bel...
8841                       The True Story Of The Mafia.

          production_countries   type  \
0                       ['US']  MOVIE
1                       ['CN']  MOVIE
2                           []  MOVIE
3                       ['US']  MOVIE
4                       ['US']  MOVIE
...                        ...    ...
8837                    ['US']   SHOW
8838                    ['US']   SHOW
8839                    ['GB']   SHOW
8840  ['US', 'BE', 'CA', 'FR']   SHOW
8841                    ['GB']   SHOW

                                                 genres
0                      ['western', 'action', 'romance']
1                                ['scifi', 'animation']
2                                 ['romance', 'comedy']
3                                ['horror', 'thriller']
4                                          ['thriller']
...                                                 ...
8837                  ['animation', 'comedy', 'family']
8838                                          ['scifi']
8839                                  ['documentation']
8840  ['action', 'animation', 'family', 'comedy', 'c...
8841                      ['documentation', 'european']

[8842 rows x 7 columns]

In [23]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8842 entries, 0 to 8841
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    8842 non-null   object
 1   title                 8842 non-null   object
 2   name                  8842 non-null   object
 3   description           8842 non-null   object
 4   production_countries  8842 non-null   object
 5   type                  8842 non-null   object
 6   genres                8842 non-null   object
dtypes: object(7)
memory usage: 483.7+ KB

In [24]:
movies['description'] = movies['description'].apply(lambda x: x.split())

In [25]:
movies.head()

,id,title,name,description,production_countries,type,genres
0,tm100001,The Lucky Texan,Tex Palmer Earl Dwire George Morrell Eddie Par...,"[Jerry, Mason,, a, young, Texan,, and, Jake, B...",['US'],MOVIE,"['western', 'action', 'romance']"
1,tm1000022,Boonie Bears: The Wild Life,Chris Boike 张伟 Tan Xiao Leon Ding Nikki Stinson,"[Bear, brothers, Briar, and, Bramble, set, off...",['CN'],MOVIE,"['scifi', 'animation']"
2,tm1000169,Bad Cupid,Christine Turturro Shane Nepveu Diane Cossa Br...,"[Archie, is, a, God, on, a, mission, to, ensur...",[],MOVIE,"['romance', 'comedy']"
3,tm1000203,Digging to Death,Bryan Dodds Tom Fitzpatrick Ford Austin Clint ...,"[David, Van, Owen, moves, into, a, mysterious,...",['US'],MOVIE,"['horror', 'thriller']"
4,tm1000290,Secrets in the Water,Terry Bookhart Angelica Quinn Cerina Vincent M...,"[Inspired, by, a, true, story., When, Mia’s, b...",['US'],MOVIE,['thriller']

In [26]:
movies['tags'] = movies['name'] + movies['description'].apply(lambda x: ''.join(x)) + movies['production_countries'].apply(lambda x: ' '.join(x)) + movies['type'] + movies['genres'].apply(lambda x: ''.join(x))

In [82]:
movies.head()

,id,title,name,description,production_countries,type,genres,tags
0,tm100001,The Lucky Texan,Tex Palmer Earl Dwire George Morrell Eddie Par...,"[Jerry, Mason,, a, young, Texan,, and, Jake, B...",['US'],MOVIE,"['western', 'action', 'romance']",Tex Palmer Earl Dwire George Morrell Eddie Par...
1,tm1000022,Boonie Bears: The Wild Life,Chris Boike 张伟 Tan Xiao Leon Ding Nikki Stinson,"[Bear, brothers, Briar, and, Bramble, set, off...",['CN'],MOVIE,"['scifi', 'animation']",Chris Boike 张伟 Tan Xiao Leon Ding Nikki Stinso...
2,tm1000169,Bad Cupid,Christine Turturro Shane Nepveu Diane Cossa Br...,"[Archie, is, a, God, on, a, mission, to, ensur...",[],MOVIE,"['romance', 'comedy']",Christine Turturro Shane Nepveu Diane Cossa Br...
3,tm1000203,Digging to Death,Bryan Dodds Tom Fitzpatrick Ford Austin Clint ...,"[David, Van, Owen, moves, into, a, mysterious,...",['US'],MOVIE,"['horror', 'thriller']",Bryan Dodds Tom Fitzpatrick Ford Austin Clint ...
4,tm1000290,Secrets in the Water,Terry Bookhart Angelica Quinn Cerina Vincent M...,"[Inspired, by, a, true, story., When, Mia’s, b...",['US'],MOVIE,['thriller'],Terry Bookhart Angelica Quinn Cerina Vincent M...

In [28]:
new_df = movies[['id','title','tags']]

In [29]:
new_df.head()

,id,title,tags
0,tm100001,The Lucky Texan,Tex Palmer Earl Dwire George Morrell Eddie Par...
1,tm1000022,Boonie Bears: The Wild Life,Chris Boike 张伟 Tan Xiao Leon Ding Nikki Stinso...
2,tm1000169,Bad Cupid,Christine Turturro Shane Nepveu Diane Cossa Br...
3,tm1000203,Digging to Death,Bryan Dodds Tom Fitzpatrick Ford Austin Clint ...
4,tm1000290,Secrets in the Water,Terry Bookhart Angelica Quinn Cerina Vincent M...

In [30]:
## Converting into lower case
new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

C:\Users\APEX\AppData\Local\Temp\ipykernel_9748\38696100.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

In [31]:
new_df.head()

,id,title,tags
0,tm100001,The Lucky Texan,tex palmer earl dwire george morrell eddie par...
1,tm1000022,Boonie Bears: The Wild Life,chris boike 张伟 tan xiao leon ding nikki stinso...
2,tm1000169,Bad Cupid,christine turturro shane nepveu diane cossa br...
3,tm1000203,Digging to Death,bryan dodds tom fitzpatrick ford austin clint ...
4,tm1000290,Secrets in the Water,terry bookhart angelica quinn cerina vincent m...

In [32]:
new_df['tags'][0]

"tex palmer earl dwire george morrell eddie parker lloyd whitlock tex phelps george 'gabby' hayes john wayne jack rockwell gordon de main robert n. bradbury barbara sheldon yakima canutt artie ortegojerrymason,ayoungtexan,andjakebenson,anoldrancher,becomepartnersandstrikeitrichwithagoldmine.theythenfindtheirlivescomplicatedbybadguysandawoman.[ ' u s ' ]movie['western', 'action', 'romance']"

In [33]:
new_df['tags'][1]

"chris boike 张伟 tan xiao leon ding nikki stinsonbearbrothersbriarandbramblesetoffonanadventurewiththeirhumanfriendvicktowildland,anamusementparkwherehumanscanturnintoanimalsusingagene-technologybracelet.[ ' c n ' ]movie['scifi', 'animation']"

In [34]:
## Converting the Text Vector to finding the nearest Moive that are matching the watch Movies
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=10000,stop_words='english')

In [35]:
cv.fit_transform(new_df['tags']).toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [36]:
len(cv.get_feature_names_out())

10000

In [42]:
a= cv.get_feature_names_out()
print(a)

['000' '10' '100' ... 'ólafur' 'óscar' 'šerbedžija']

In [46]:
from nltk.stem import PorterStemmer
ps = PorterStemmer()

def stem(text):
    y = []
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

new_df['tags'] = new_df['tags'].apply(stem)

C:\Users\APEX\AppData\Local\Temp\ipykernel_9748\2495759492.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(stem)

In [47]:
vectors=np.array([a])
vectors[0]

array(['000', '10', '100', ..., 'ólafur', 'óscar', 'šerbedžija'],
      dtype=object)

In [48]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

# Example text data
texts = new_df['tags']

# Create TF-IDF vectorizer
vectorizer = TfidfVectorizer()

# Transform text data into numerical vectors
vectors = vectorizer.fit_transform(texts)

# Calculate cosine similarity
similarity = cosine_similarity(vectors)

print(similarity.shape)

(8842, 8842)

In [55]:
## Sorting the 6 movies on similarity basis
sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x:x[1])[1:6]

[(7675, 0.43954128907395873),
 (7823, 0.40356685332302494),
 (334, 0.3949331703396187),
 (7840, 0.3644212342331401),
 (7808, 0.2936240413343911)]

In [90]:
def recommend(movie):
    movie_index = new_df[new_df['title'] == movie].index[0]
    distances = similarity[movie_index]
    movies_list = sorted(list(enumerate(distances)), reverse=True, key=lambda x: x[1])[1:6]
    for i in movies_list:
        recommended_movie = new_df.iloc[i[0]].title
        print(recommended_movie)

In [92]:
recommend('Kabhi Kabhie')

Kaala Patthar
Doosara Aadmi
Silsila
Dil To Pagal Hai
Lamhe